.App {
    color: white;
    position: absolute;
    min-height: 100%;
    width: 100%;
    background-color: darkgray;
    min-height: 100%;
}

.content {
    padding: 20px 60px 60px 60px;
    background-color: #282c34;
}