.header {
    padding: 40px 80px;
    background-color: darkslateblue;
}

.header .logo { 
    height: 64px;
}

.header .title {
    padding-left: 35px;
    display: inline;
    font-weight: 600;
    font-size: 46px;
    vertical-align: top;
    line-height: 64px;
}

.header .title a {
    color: white;
    text-decoration: none;
}