.tournaments {
    margin: auto;
    display: table;
    border-collapse: collapse;
    width: 100%;
    background-color: whitesmoke;
    color: black;
}

.tournaments thead {
    font-weight: bold;
    background-color: cornflowerblue
}

.tournaments tbody tr:hover {
    cursor: pointer;
    background-color: grey;
}