.tournaments {
    margin: auto;
    display: table;
    border-collapse: collapse;
    width: 100%;
}

.tournaments thead {
    font-weight: bold;
    background-color: cornflowerblue
}

.tournaments {
    background-color: whitesmoke;
    color: black;
}